.admin-page {
  background: #ffecd1;
  .page-form {
    .admin-menu {
      a {
        color: #001524;
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
      }
    }

    button {
    }

    #admin {
      background-color: #ffecd1;
      .original-form {
        .page-input {
          input {
          }
        }
        button {
        }
      }

      .translation {
        #admin {
          .translation-form {
            .page-input {
              input {
              }
            }
            button {
            }
          }
        }
      }

      button {
      }
      .post-form {
        display: grid;
        grid-template-columns: 50% 50%;
        .original-language-post-form {
          border: solid;
          border-color: #ff7d00;
          width: 40vw;
        }

        .translation {
          .post-form {
            border: solid;
            border-color: #15616d;
            width: 40vw;
            .translation-post-form {
            }
          }
        }
      }
    }
  }
}
