.booking-form {
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.booking-form textarea::-webkit-scrollbar {
  display: none;
}
.booking-form p {
  font-family: 'josefin sans';
  font-size: 20px;
}
.booking-form h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}
.booking-form .user-box {
  position: relative;
  font-family: 'josefin sans';
}
.booking-form .user-box .date {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.booking-form .user-box .react-datepicker__input-container input {
  cursor: pointer;
}
.booking-form .user-box .date-filled {
  top: -20px;
  left: 0;
  color: #b3c4b3;
  font-size: 14px;
}
.booking-form .user-box input,
.booking-form .user-box select,
.booking-form .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  font-family: 'josefin sans';
}
.booking-form .user-box input textarea::-webkit-scrollbar,
.booking-form .user-box select textarea::-webkit-scrollbar,
.booking-form .user-box textarea textarea::-webkit-scrollbar {
  display: none;
}
.booking-form .user-box input option,
.booking-form .user-box select option,
.booking-form .user-box textarea option {
  color: black;
}
.booking-form .user-box select {
  cursor: pointer;
}
.booking-form .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 18px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.booking-form .user-box input:focus ~ label,
.booking-form .user-box select:focus ~ label,
.booking-form .user-box textarea:focus ~ label {
  top: -20px;
  left: 0;
  color: #b3c4b3;
  font-size: 14px;
}
.booking-form .user-box .filled ~ label {
  top: -20px;
  left: 0;
  color: #b3c4b3;
  font-size: 14px;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #616161 !important;
  color: #fff;
}
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: #505050 !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: #616161 !important;
  color: #fff;
}
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #505050 !important;
}
.react-datepicker__day--in-selecting-range {
  width: 3rem;
  line-height: 3rem;
  background-color: rgba(97, 97, 97, 0.63) !important;
}
.submit-btn {
  border: 1px solid #fff;
  background: rgba(20, 20, 20, 0.6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.4s;
}
.submit-btn:hover {
  background: rgba(20, 20, 20, 0.8);
  padding: 10px 80px;
}
.add-btn {
  border: 1px solid #fff;
  background: rgba(20, 20, 20, 0.6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.4s;
}
.add-btn:hover {
  background: rgba(20, 20, 20, 0.8);
  padding: 10px 80px;
}
.error {
  font-size: 18px;
  color: #faebd7c2;
}
