@media (min-width: 871px) {
  .header {
    display: grid;
    grid-template-columns: 37vw 1fr;
    height: 150px;
  }
  .header .logo {
    max-width: 100%;
    position: relative;
  }
  .header .logo .header-img {
    width: 350px;
    position: absolute;
    right: -4px;
    bottom: 0;
    height: 150px;
  }
  .header .menu-right-column {
    height: 100%;
    position: relative;
  }
  .header .menu-right-column .language-menu {
    font-family: 'josefin sans';
    float: right;
    padding: 4px;
  }
  .header .menu-right-column .language-menu a {
    text-decoration: none;
  }
  .header .menu-right-column .language-menu a .flag-icon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
  }
  .header .menu-right-column .menu-items {
    font-family: 'Six Caps';
    letter-spacing: 1px;
    font-size: calc(40px + 9 * ((100vw - 1024px) / 1536));
    bottom: 1vh;
    position: absolute;
    display: flex;
  }
  .header .menu-right-column .menu-items .menu-item-wrapper a {
    margin-left: 2vw;
    text-decoration: none;
    color: whitesmoke;
  }
  .header .menu-right-column .menu-items .menu-item-wrapper a:hover {
    font-size: calc(42px + 9 * ((100vw - 1024px) / 1536));
  }
}
@media (max-width: 870px) {
  .header {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .header .language-menu {
    font-family: 'josefin sans';
    float: right;
    padding: 4px;
  }
  .header .language-menu a {
    text-decoration: none;
  }
  .header .language-menu a .flag-icon {
    width: 30px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    float: right;
  }
  .header .logo {
    grid-row: 2;
  }
  .header .logo a {
    width: 100%;
    text-align: center;
  }
  .header .logo a img {
    max-width: 100%;
    max-height: 140px;
  }
  .header .menu-right-column {
    grid-row: 3;
    width: 100%;
    text-align: center;
  }
  .header .menu-right-column .menu-items {
    display: table;
    margin: 0 5vw;
    text-align: center;
  }
  .header .menu-right-column .menu-items .menu-item-wrapper {
    width: auto;
    display: inline;
    cursor: pointer;
  }
  .header .menu-right-column .menu-items .menu-item-wrapper a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Six Caps';
    letter-spacing: 2px;
    font-size: calc(40px + 9 * ((100vw - 1024px) / 1536));
    padding: 0px 7px;
    display: inline-block;
  }
  .header .menu-right-column .menu-items .menu-item-wrapper a:hover {
    font-size: calc(42px + 9 * ((100vw - 1024px) / 1536));
  }
}
