.header {
  display: grid;
  grid-template-columns: auto 1fr;
}
.header .header-img {
  margin-left: 5vw;
  max-width: 100%;
  max-height: 150px;
}
.header .menu-items {
  font-family: 'Six Caps';
  letter-spacing: 1px;
  font-size: 40px;
  margin-top: 90px;
  text-align: left;
}
.header .menu-items a {
  margin-left: 2vw;
  text-decoration: none;
  color: #ccc;
}
