.header {
  display: grid;
  grid-template-columns: 37vw 1fr;
  height: 150px;

  .logo {
    position: relative;
    .header-img {
      margin-left: 5vw;
      max-width: 100%;
      max-height: 150px;

      right: 0;
      bottom: 0;
      position: absolute;
    }
  }

  .menu-right-column {
    height: 100%;
    position: relative;
    .language-menu {
      font-family: 'josefin sans';
      margin-right: 2vw;
      text-align: right;

      a {
        text-decoration: none;
        color: #e0cba8;
        margin-right: 1vw;
      }
    }

    .menu-items {
      font-family: 'Six Caps';
      letter-spacing: 1px;
      font-size: 40px;
      text-align: left;
      bottom: 1vh;
      position: absolute;
      a {
        margin-left: 2vw;
        text-decoration: none;
        color: #e0cba8;
      }
    }
  }
}
