@media (min-width: 871px) {
  .header {
    display: grid;
    grid-template-columns: 37vw 1fr;
    height: 150px;

    .logo {
      max-width: 100%;

      position: relative;
      .header-img {
        width: 350px;
        position: absolute;
        right: -4px;
        bottom: 0;
        height: 150px;
      }
    }

    .menu-right-column {
      height: 100%;
      position: relative;
      .language-menu {
        font-family: 'josefin sans';
        float: right;
        padding: 4px;
        a {
          text-decoration: none;
          .flag-icon {
            width: 20px;
            height: 20px;
            margin-left: 5px;
            cursor: pointer;
          }
        }
      }

      .menu-items {
        font-family: 'Six Caps';
        letter-spacing: 1px;
        font-size: calc(40px + 9 * ((100vw - 1024px) / 1536));
        text-align: left;
        bottom: 1vh;
        position: absolute;
        a {
          margin-left: 2vw;
          text-decoration: none;
          color: whitesmoke;
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .header {
    display: grid;
    grid-template-rows: auto 1fr auto;

    .language-menu {
      font-family: 'josefin sans';
      float: right;
      padding: 4px;
      a {
        text-decoration: none;

        .flag-icon {
          width: 30px;
          height: 20px;
          margin-left: 5px;
          cursor: pointer;
          float: right;
        }
      }
    }

    .logo {
      grid-row: 2;

      a {
        width: 100%;
        text-align: center;
        img {
          max-width: 100%;
          max-height: 140px;
        }
      }
    }
    .menu-right-column {
      grid-row: 3;

      .menu-items {
        font-size: calc(40px + 9 * ((100vw - 1024px) / 1536));
        font-family: 'Six Caps';
        letter-spacing: 1px;

        a {
          margin-left: 2vw;
          text-decoration: none;
          color: whitesmoke;
        }
      }
    }
  }
}
