@media (min-width: 871px) {
  .header {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header .logo a {
    font-family: 'Six Caps';
    text-decoration: none;
    color: #888888;
    font-size: 72px;
  }
  .header .menu-items {
    font-family: 'Archivo Narrow';
    letter-spacing: 1px;
    font-size: calc(25px + 9 * ((100vw - 1024px) / 1536));
    display: flex;
    gap: 2vw;
    justify-content: center;
  }
  .header .menu-items .menu-item-wrapper a {
    text-decoration: none;
    color: #e9e5e5;
    letter-spacing: 0.09em;
  }
  .header .menu-items .menu-item-wrapper:hover {
    transform: scale(1.04);
  }
  .header .menu-right-column {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  .header .menu-right-column .language-menu {
    top: 0;
    float: right;
    padding: 4px;
    color: #e9e5e5;
    font-family: 'Archivo Narrow';
    letter-spacing: 0.09em;
  }
  .header .menu-right-column .language-menu a {
    text-decoration: none;
    letter-spacing: 0.09em;
    color: #e9e5e5;
  }
  .header .menu-right-column .language-menu a:hover {
    font-weight: 600;
  }
}
@media (max-width: 870px) {
  .header {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .header .language-menu {
    float: right;
    padding: 4px;
  }
  .header .language-menu a {
    text-decoration: none;
  }
  .header .language-menu a .flag-icon {
    width: 30px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    float: right;
  }
  .header .logo {
    grid-row: 2;
  }
  .header .logo a {
    width: 100%;
    text-align: center;
  }
  .header .logo a img {
    max-width: 100%;
    max-height: 140px;
  }
  .header .menu-right-column {
    grid-row: 3;
    width: 100%;
    text-align: center;
  }
  .header .menu-right-column .menu-items {
    display: table;
    margin: 0 5vw;
    text-align: center;
  }
  .header .menu-right-column .menu-items .menu-item-wrapper {
    width: auto;
    display: inline;
    cursor: pointer;
  }
  .header .menu-right-column .menu-items .menu-item-wrapper a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Six Caps';
    letter-spacing: 2px;
    font-size: calc(40px + 9 * ((100vw - 1024px) / 1536));
    padding: 0px 7px;
    display: inline-block;
  }
  .header .menu-right-column .menu-items .menu-item-wrapper a:hover {
    font-size: calc(42px + 9 * ((100vw - 1024px) / 1536));
  }
}
