.drinks-title {
  height: 130px;
}
.drinks-title a {
  border-style: solid;
  font-family: 'Six Caps';
  letter-spacing: 1px;
  font-size: 30px;
  float: left;
  margin-right: 5px;
  padding: 3px 8px;
  margin-top: 10px;
}
.drinks-title a.active {
  background-color: #e0cba885;
}
.outer-border {
  border-style: solid;
  padding: 2px;
  border-width: 1px;
}
.outer-border .drinks-list {
  font-family: 'josefin sans';
  font-size: 18px;
  border-style: solid;
  background-color: #e0cba885;
}
