.login-page {
  background-color: #032429;
  width: 500px;
  margin: 25px auto;
  border-radius: 10px;
  box-shadow: 6px 5px 5px black;
  height: 210px;
  padding-top: 1vh;
}
.login-page .user-input {
  margin: 4vh 0 4vh 4vw;
}
.login-page .user-input label {
  color: #efefef;
  float: left;
  font-size: 20px;
  width: 70px;
}
.login-page .user-input input {
  border: solid;
  border-width: 3px;
  background-color: #b2e3af;
  border-radius: 10px;
  font-family: 'josefin sans';
  font-size: 18px;
  height: 4vh;
  width: 210px;
  padding-left: 1vw;
}
.login-page .login-btn {
  border: solid;
  border-width: 3px;
  padding: 1vh 1vw;
  background-color: #7ab893;
  border-radius: 10px;
  float: right;
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
}
.login-page .login-btn:hover {
  background-color: #377d6a;
}
