.login-page {
  background-color: #032429;
  width: 45vw;
  margin: 25px auto;
  border-radius: 10px;
  box-shadow: 6px 5px 5px black;
  height: 260px;
  padding-top: 1vh;
}
.login-page .user-input {
  margin: 4vh 3vw;
}
.login-page .user-input label {
  color: #efefef;
  float: left;
  font-size: 20px;
  width: 80px;
}
.login-page .user-input input {
  border: solid;
  border-width: 3px;
  background-color: #b2e3af;
  border-radius: 10px;
  font-family: 'josefin sans';
  font-size: 18px;
  height: 3vh;
  width: 230px;
  padding-left: 1vw;
}
.login-page .login-btn {
  border: solid;
  border-width: 3px;
  padding: 1vh 1vw;
  background-color: #7ab893;
  border-radius: 10px;
  float: right;
  margin-right: 6px;
  font-size: 18px;
  margin-top: 15px;
}
.login-page .login-btn:hover {
  background-color: #377d6a;
}
